*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

.head{
    width: 100%;
    height: 100px;
    background: #df263f;
    padding-top: 10px;
    overflow: hidden;
    box-sizing: border-box;
}
.head .pic{
    width: 150px;
    height: 80px;
    /* background: blue; */
    margin: 0 auto;
}
.head .pic img{
    width: 150px;
    height: 80px;
    background: blue;
    margin: 0 auto;
}
.head .lie{
    width: 40px;
    height: 40px;
    /* background: blue; */
    float: right;
    margin-top: -60px;
    margin-right: 15px;
    border-radius: 5px;
    background: #f5f5f5;
}
.head .lie .box{
    width: 25px;
    height: 3px;
    background: red;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 7px;
}
.head .right{
    width: 64%;
    /* height: 100px; */
    background: white;
    float: right;
    margin-top: -105px;
    /*background:white;*/
    display: none;
}
.head .right .list{
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: #666;
    float: left;
    margin-left: 30px;
    /* padding: 5px 30px; */
}
.head .right .list a{
    text-decoration: none;
    color: #666;
}
.head .right .list:hover{
    background: #f5f5f5;
    color: red;
}
.middle{
    width: 100%;
    position: relative;
}
.middle img{
    width: 100%;
    height: 100%;
}
.middle .box{
    width: 50px;
    height: 50px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    /* background: #ACABAB; */
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    font-size: 30px;
    text-align: center;
    color: #f5f5f5;
    line-height: 50px;
}
.middle .box:hover{
    background: #ACABAB;
}
.middle .li:hover{
    background: #ACABAB;
}
.middle .li{
    width: 50px;
    height: 50px;
    /* background: red; */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    font-size: 30px;
    text-align: center;
    color: #f5f5f5;
    line-height: 50px;
}
.middle .dian{
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    left: 50%;
}
.middle .yuan{
    width: 10px;
    height: 10px;
    background: #e1472f;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    left: 52%;
}
.middle .one{
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    left: 54%;
}
.middle .two{
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    left: 56%;
}
.ask{
    width: 100%;
    height: 50px;
    background: #333;
    display: none;
}
.ask .age{
    width: 100%;
    height: 50px;
    background: #df263f;
    margin: 0 auto;
}
.ask .age p{
    line-height: 50px;
    margin-left: 50px;
    color: white;

}
.ask .age p a{
    color: white;
    text-decoration: none;
}
.ask .age p a:hover{
    color: #333
}
.da{
    overflow: hidden;
}
.left{
    width: 17%;
    height: 50px;
    background: #df263f;
    margin-top: 20px;
    float: left;
    margin-left: 50px;
    border-bottom: 1px solid white: ;
    display: none;
}
.left p{
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: white;
}
.left .bug{
    /* width: 15%; */
    height:50px;
    background: #df263f;
    /* float: left; */
    /* margin-left: 50px; */
    margin-top: -9px;
}
.left .bug a{
    text-decoration: none;
    color: white;
    line-height: 50px;
    font-size: 12px;
    margin-left: 20px;
}
.left .bug a:hover{
    color: #333;
}
.fox{
    /* width: 17%; */
    height: 50px;
    background: #df263f;
    margin-top: 20px;
    border-bottom: 1px solid white;
}
.left .fox p{
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: white;
}
.left .xia{
    height: 130px;
    background:#df263f;
}
.left .xia i{
    display: block;
    font-style: normal;
    font-size: 20px;
    color: white;
    margin-left: 20px;
}
.left .xia a{
    display: block;
    color: white;
    margin-left: 40px;
    margin-top: -17px;
    text-decoration: none;
}
.qing{
    width: 65%;
    /* height: 4850px; */
    /* background: blue; */
    margin-top: 20px;
    border: 1px solid #ccc;
    margin-left: 18%;
    float: left;
}
.qing p{
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}
.qing i{
    display: block;
    text-align: center;
    font-style: normal;
    font-size: 12px;
}
.qing .tea{
    width: 80%;
    /* height: 200px; */
    /* background: red; */
    margin: 10px auto;
    /* margin-bottom: 50px; */
}

.qing .tea img{
    width: 100%
}
h3{
    font-size: 16px;
    margin-left: 80px;
    margin-top: 10px;
}
.erda{
    margin-left: 22%;
}
.tiao{
    margin-top:10px;
    /* margin-left: 150px; */
}
.cry{
    width: 100px;
    height: 30px;
    background:#df263f;
    margin-left: 50px;
    margin-top: -35px;
    margin-bottom: 30px;

}
.cry a{
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    color: white;
    font-size: 12px;
}
.cut{
    width: 100%;
    height: 40px;
    /* background: blue; */
    margin-top: 30px;
    border-bottom: 1px solid #ccc;
}
.cut p{
    font-size: 25px;
    color: #df263f;
    line-height: 40px;
    margin-left: 10px;
}
.cut i{
    display: block;
    font-style: normal;
    float: right;
    margin-top: -35px;
    margin-right: 10px;
}
.cut i a{
    text-decoration: none;
}
.fan{
    width: 100%;
    height: 40px;
    border-bottom: 1px dotted #ccc;
}
.fan a{
    font-size: 12px;
    color: #666;
    line-height: 40px;
    margin-left: 10px;
    text-decoration: none;
}
.good{
    width: 100%;
    height: 155px;
    background: #333;
    padding-top: 20px;
    position: relative;
    /*overflow: hidden;*/
}
.good .bed{
    /* width: 100%; */
    color: #666;
    margin-left: 10px;
}
.good p{
    /*color: red;*/
    margin-left: 10px;
    color: #666;
}
.good p a{
    color: #df263f;
    text-decoration: none;
}
.good .night{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 20px;
    right: 50px;
    display: none;

}
.good .night img{
    width: 100%;
    height: 100%;
}

.good h4{
    color: #666;
    position: absolute;
    top: 115px;
    right: 20px;
    display: none;
}
.cat{
    width:100%;
    height: 50px;
    background:#1d1d1d;
    position: fixed;
    bottom: 0;
    left: 0;
}
.cat .kuai{
    width: 25%;
    height: 100%;
    /* background: blue; */
    float: left;
}
.cat .kuai:hover{
    background: #333;
}
.cat .kuai .icon-weibiaoti-{
    display: block;
    font-size: 25px;
    color: white;
    text-align: center;
}
.cat .kuai p{
    font-size:  12px;
    text-align: center;
    color: white;
    margin-top: -10px;
}
.cat .kuai .icon-xinfeng{
    display: block;
    font-size: 25px;
    color: white;
    text-align: center;
}
.cat .kuai .icon-liuyan{
    display: block;
    font-size: 25px;
    color: white;
    text-align: center;
}
.cat .kuai .icon-weizhi{
    display: block;
    font-size: 25px;
    color: white;
    text-align: center;
}











@media screen and (min-width: 768px){
    .head .lie{
        display: none;
    }
    .head .lie .box{
        display: none;
    }
    .head .pic{
        width: 200px;
        height: 100px;
        margin-left: 120px;
    }
    .head .right{
        display: block;
    }
    .ask{
        display: block;
    }
    .ask .age{
        display: block;
        /* width: 100%; */
    }
    .left{
        display: block;
    }
    .qing{
        width: 65%;
        /* height: 4850px; */
        /* background: blue; */
        margin-top: 20px;
        border: 1px solid #ccc;
        margin-left: 10%;
        float: left;
    }
    .erda{
        margin-left: 40%;
    }
    .cut{
        width: 70%;
        margin-left: 15%;
    }

    .fan{
        width: 70%;
        margin-left: 15%;
    }
    .cat{
        display: none;
    }
    .good .night{
        display: block;
    }
    .good h4{
        display: block;
    }
}